.post {
    border: 3px white solid;
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.3);
}

.overlay{
    width: 95%;
    cursor: pointer;
	-webkit-transition: width 0.45s ease;
    transition: width 0.45s ease;
}

.overlay:hover{
    width: 100%;
}

.no-collection-title{
    color: lightgrey;
    font-family: "Comic Sans MS", cursive, sans-serif;
}