<!-- <div class="container">
    <div class="row d-flex justify-content-center mt-5">
            <div class="bg-dark p-5 col-md-5 m-2 text-white text-center">
                <h3>Movies</h3>
            </div>
            <div class="bg-dark p-5 col-md-5 m-2 text-white text-center">
                <h3>TV Shows</h3>
            </div>
    </div>
</div> -->

<div class="container">

    <div class="row services">
        <div class="col-md-4">
            <div class="service" routerLink="movies">
                <div class="icon-holder">
                    <!-- <img src="img/icons/heart-blue.png" alt="" class="icon"> -->
                </div>
                <h4 class="heading">Movies</h4>
                <h1 class="description">
                    <i class="fa fa-film" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service" routerLink="tv-shows">
                <div class="icon-holder">
                    <!-- <img src="img/icons/guru-blue.png" alt="" class="icon"> -->
                </div>
                <h4 class="heading">TV Shows</h4>
                <h1 class="description"><i class="fa fa-television" aria-hidden="true"></i></h1>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service" routerLink="my-list">
                <div class="icon-holder">
                    <!-- <img src="img/icons/weight-blue.png" alt="" class="icon"> -->
                </div>
                <h4 class="heading">My List</h4>
                <h1 class="description">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
</div>