@media screen and (min-width: 992px) {
    .searchBar {
      display: none;
    }
}

@media screen and (max-width: 991px) {
    .searchTopBar {
        display: none;
    }
}
.orange{
    background-color: #ff8c00;
    border: none;
}