<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
      <a class="navbar-brand" routerLink="/"><i class="fa fa-sign-out"></i>  WatchList</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies"><i class="fa fa-bell"></i> Movies </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tv-shows"><i class="fa fa-shopping-cart"></i>  TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/my-list"><i class="fa fa-sign-out"></i> My List </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 searchTopBar">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
  </nav>
  <div class="container bg-dark">
    <div class="row">
      <form class="form-inline m-2 col searchBar">
        <div class="input-group">
          <input class="form-control col" type="search" placeholder="Buscar" aria-label="Buscar">
          <div class="input-group-append">
            <button class="btn btn-dark orange" type="submit"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</header>
